/* Responsive for tablet */
@media screen and (max-width: 768px) {
    .nav-container {
        padding: 0px 50px;
        flex-direction: column;
        gap: 10px;
    }

    .banner-container {
        padding: 0px 50px;
    }

    .banner-text {
        width: 100%;
    }

    .banner-image {
        width: 100%;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    /* gamer banner */
    .gamer-banner {
        padding: 50px;
    }

    .gamer-text {
        width: 45%;
    }

    .gamer-image {
        width: 55%;
        /* border: 1px solid red; */
    }

    .gamer-tittle {
        font-size: 2.5rem;
    }

    .btn3 {
        font-size: 1rem;
    }

    .quote {
        font-size: 1rem;
    }

    /* Online game section */
    .online-game-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
        margin-top: 0px;
        /* padding: 50px; */
    }

    .online {

        margin-top: 0px;
        padding: 50px;
    }

    .horse-section {
        margin: 0px;
    }

    .horse-container {
        padding: 50px;
    }

    .horse-text {
        width: 100%;
        text-align: center;
    }

    .horse-image {
        width: 60%;
    }
    .horse-tittle {
        width: 90%;
        margin: 0px;
    }

    .horse-descrip {
        width: 85%;
        margin: 0px;
    }
    .baby {
        bottom: -20px;
        left: -30px;
    }
}


/* Responsive for mobile */
@media screen and (max-width: 425px) {
    .nav-container {
        flex-direction: column;
        gap: 35px;
        align-items: center;
    }

    .nav-menu {
        flex-direction: column;
    }

    /*  banner section */
    .banner-container {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .banner-text {
        width: 80%;
        padding: 50px;
        margin-left: 40px;
        /* text-align: center; */
    }

    .banner-image {
        width: 100%;
    }

    .play-like {
        font-size: 1.7rem;
    }

    .goat {
        font-size: 3.3rem;
        margin-top: -20px;
    }

    .instruction {
        font-size: 1rem;
    }

    .btn {
        font-size: 1rem;
        margin-right: 5px;
    }

    /* gamer banner */
    .gamer-banner {
        flex-direction: column;
    }

    .gamer-text {
        width: 100%;
        text-align: center;
    }

    .gamer-image {
        width: 100%;
        /* border: 1px solid red; */
    }

    .gamer-tittle {
        font-size: 2rem;
        padding: 30px;
    }

    .btn3 {
        font-size: 1rem;
    }

    .quote {
        font-size: 1rem;
    }

    /* Online Game section */
    .online {

        margin-top: 0px;
        padding: 50px;
    }

    .online-game-container {
        grid-template-columns: 1fr;
        gap: 70px;
        margin-top: 0px;
    }

    .online-tittle {
        font-size: 1.3rem;
    }

    .online-funny {
        font-size: 1.3rem;
    }

    /* Horse Section */
    .horse-section {
        margin: 0px;
    }

    .horse-container {
        flex-direction: column;
        gap: 50px;
        padding: 50px;
    }

    .horse-text {
        width: 100%;
        text-align: center;
    }

    .horse-image {
        width: 80%;

    }

    .horse-tittle {

        width: 100%;
    }

    .horse-descrip {
        width: 100%;

    }

    .baby {
        position: absolute;
        bottom: -20px;
        left: -30px;
    }
}